.navigation .link{
    color: var(--bs-primary);
    text-decoration: none;

}

.card{
    background: var(--bs-secondary-bg-subtle);
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
    box-shadow: 0 4px 8px rgba(13, 0, 248, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card .image{
    height: auto;
    border-radius: 10px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(13, 0, 248, 0.2);
}

.footer-container{
    width: 100%;
}

.footer{
    background: var(--bs-primary);
    justify-content: center;
    text-align: center;
    justify-items: center;
    padding: 5% 0;
}

.footer .icons{
    color: white;
    margin: 0 2%;
}
.footer .icons svg{
    margin: 3% 0;
    transform: 1s;
}

.footer .icons svg:hover{
    color: var(--bs-info-bg-subtle);
    transform: scale(1.1);
}

.footer .link{
    color: white;
    text-decoration: none;
    margin: 0 2%;
}

.footer .link:hover{
    color: rgb(81, 81, 207);
}

.contributing, .license{
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
}
.contributing a, .license a{
    color: var(--bs-primary);
    text-decoration: none;
}